<html>
    <head>
        <title>George's blog</title>
    </head>
    <body>
        <p>Hi guys!</p>
        <p>welcome to my first blog</p>

        <div>
            <h1><a href="">My Django Blog</a></h1>
        </div>
        <div>
            <p>published: 03.06.2016,20:31</p>
            <h2><a href="">Just Going On</a></h2>
            <p>carry my blog on</p>
        </div>

        <div>
            <p>published: 03.06.2016, 20:34</p>
            <h2><a href="">My Second Post</a></h2>
            <p>a good start</p>
        </div>
    </body>
</html>

 
